header{
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

h2{
    text-align: center;
}

content{
    height: 1387.71px;
}

.content {
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

footer{
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

h5{
    text-align: center;
}
